
/*! Mobile Devices and Tablet Devices */
@media only screen and (max-width: 767px){
    body{
        background: url("./Assets/img/Mobile\ Assets-new.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    #ul-nav{
        justify-content: flex-start !important;
    }

    /* main */
    #main-section{
        margin-top: 11rem;
    }
    #main-section container, row, col, h1{
        font-size: 3.93rem;
    }
    #main-section container, row, col, h2{
        margin-top: 1.5rem;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    body{
        background: url("./Assets/img/Mobile\ Assets\ tab.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    #ul-nav{
        justify-content: flex-start !important;
    }
}
