
/* Mobile Devices */
@media only screen and (max-width: 767px){
    #ul-nav{
        justify-content: flex-start !important;
    }

    
    #offcanvasNavbar{
        background: var(--primary-color);
        transition: all 0.5s ease-in-out;
        font-family: "League Spartan", sans-serif;
        width: 100%;
        
    }
    
    #offcanvasNavbar a span{
        color: var(--secondary-color);
    }
    
    #offcanvasNavbar .nav-item ul li a{
        color: #000;
    }
    
    #offcanvasNavbar ul li a{
        font-size: 1.2rem;
        color: var(--secondary-color);
    }
    
    
    #offcanvasNavbar.scrolled {
        background-color: #727272af;
        --secondary-color: #FBFEF9;
    }

    #profile-section {   
      flex-direction: column;
    }
  

    .profile-name{
        width: 50%;
    }

    .side .card{
        width: 70%;
        height: 100%;

    }

    .img-area img{
        width: 100%;
        object-fit: fill;
    }

    .p-information{
        width: 50%;
    }

    .social-media{
        width: 50%;
    }

    .side{
        width: 100%;
        padding-top: 6rem;
    }
    .main{
        width: 100%;
        padding-top: 2rem;
    }
    .stocks-card{
        height: auto;
        width: 100%;
    }

}

